<h2>Novedades</h2>
<div style=" margin-top:100px ; float:left;   flex-wrap:wrap ">
    <form action="/novedades" method="get">
        <input  style="border-radius:25px ; height: 28px; width: 230px; " type="search" name="q" {{#if q}} value="{{q}}" {{/if}}> 
        <button type="submit" style="width: 80px; height:22px; color:black; background-color:rgb(221, 84, 152); border-radius:20% ;padding: 4px 2px 22px 3px; ">Buscar</button>


    </form>


</div>

{{#each novedades}}

<div>
    <h3 style="text-align:center; margin-top:20px; margin-top: -74px; flex-wrap:wrap;">{{titulo}}</h3>
    <h4 style="color:rgb(178, 82, 98) ; text-align:center; margin-top:20px; flex-wrap:wrap;">{{subtitulo}}</h4>
    <p style="color:white ;text-align:center; margin-top:20px;  flex-wrap:wrap;">{{cuerpo}}</p>


</div>
{{/each}}

{{#if is_search}}

{{#unless novedades.length}}

<p style="padding-top:150px ;float:right; color:rgb(214, 91, 112);">  No se encontraron resultados de <b> "{{q}}" </b> . Suerte la proxima </p>

{{/unless}}

{{/if}}